<nav  *ngIf="isLoggedIn | async" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="images/logo.png" alt="Logo" height="30">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/personnes">Client</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/specialites">Specialites</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/ajouter-client">inscription</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/reservation">reservation</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/ajouter-reservation">ajouter-reservation</a>
              </li> <!-- Ajout de la balise de fermeture manquante -->

          </ul>

          <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
              <button class="btn btn-outline-success" type="submit">
                  <i class="bi bi-search"></i>
              </button>
          </form> -->

          <div class="navbar-text">
            
          
          </div>
          <div class="navbar-text">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
                </ul>
            
            <!-- <a href="mailto:bonjour@.com" class="text-white">bonjour@.com</a> -->
        </div>
      </div>
  </div>
</nav>
