<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th> 
        <th>les specialites</th>
        <!-- <th>Email</th> -->
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of specialites">
        <td>{{ person.id }}</td>
        <td> </td>  <td>{{ person.nom }}</td>
        <!-- <td>{{ person.email }}</td> -->
        <!-- Add more table cells for additional properties -->
      </tr>
    </tbody>
  </table>
  